# data
data/**/*.bin
data/**/*.txt
data/**/*.pkl
data/**/cache/

# tokenizer artifacts
tokenizer/*.json

# checkpoints
checkpoints/

# python
__pycache__/
*.pyc

# IDE / OS
.idea/
.DS_Store
Thumbs.db
